html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-group input[type=submit],
.form-group label {
    text-transform: uppercase
}

.form-group label{
    color:gray;
}